div.block-container.css-12oz5g7.egzxvld2{
    padding-top: 2rem;
}
header.css-18ni7ap.e8zbici2{
    display:none;
}
section.main.css-1v3fvcr.egzxvld3 {
    background-color: #222831;
    color: aliceblue;
}
span.css-10trblm.e16nr0p30{
    color:#e3e3e3;
}
label.css-15tx938.effi0qh3{
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    color: #e3e3e3;
}
button.css-1cpxqw2.edgvbvh9 {
    background-color: #455d7a;
}
button.css-9s5bis.edgvbvh3{
    background-color: #455d;
    color: #e3e3e3;
}
h2{
    padding-bottom: 0px;
}